.breakdance-woocommerce ul.products .product a.woocommerce-LoopProduct-link {
    display: block !important; /* Override flex with block display */
    position: relative;
    /* The !important ensures it overrides any other styles */
}

.breakdance-woocommerce ul.products .product, .breakdance-woocommerce a.woocommerce-LoopProduct-link {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}